<form [formGroup]="myForm" class="form">
  <div mat-dialog-content class="dialog-content">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input #input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Website</mat-label>
      <input matInput formControlName="website" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button [mat-dialog-close]="myForm"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
    >
      Создать
    </button>
  </div>
</form>
